<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Election results</title>
</head>
<body>
<h1>Election results</h1>
{% if errors %}
    <h2>Encoutered Errors</h2>
    <p>The following errors were encoutered parsing the results</p>
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h2>Party Seats</h2>
<table>
    <tr>
        <th>Party</th>
        <th>Seats</th>
    </tr>
    {% for party, seats in parties|dictsort(by='value')|reverse %}
        <tr>
            <td>{{ party }}</td>
            <td>{{ seats }}</td>
        </tr>
    {% endfor %}
</table>
<h2>Results by constituency</h2>
<table>
    {% for constituency, results in constituencies.items() %}
        <tr>
            <th colspan="2">{{ constituency }}</th>
        </tr>
        {% for party, votes in results['votes']|dictsort(by='value')|reverse %}
            {% if party == results['winner'] %}
                <tr>
                    <td><em>{{ party }}</em></td>
                    <td><em>{{ votes }}</em></td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ party }}</td>
                    <td>{{ votes }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>

</body>
</html>
